@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apple-Garamond';
    src: url('../fonts/AppleGaramond-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}