.present12 .back-button,
.present11 .next-button,
.present10 .back-button,
.present9 .back-button,
.present8 .back-button,
.present4 .back-button,
.present1 .back-button {
    position: fixed;
    padding: 15px 40px;

    bottom: 60px;
    right: 70px;
}

.present2 .back-button {
    position: fixed;
    padding: 15px 40px;

    top: 50px;
    left: 100px;
}

.present3 .back-button {
    position: fixed;
    padding: 15px 40px;

    bottom: 70px;
    right: 500px;
}

.present7 .back-button,
.present6 .back-button,
.present5 .back-button {
    position: fixed;
    padding: 15px 40px;

    top: 30px;
    right: 140px;
    left: auto;
}

.surprise .back-button {
    position: fixed;
    padding: 15px 40px;

    top: 20px;
    left: 40px;
}





.present3 .video {
    position: fixed;
    
    height: 80vh;
    width: auto;

    top: 10vh;
    left: 20vw;
}

.present4 .video {
    position: fixed;
    padding: 15px 40px;

    height: 50vh;
    width: auto;

    bottom: 0vh;
    right: 30vw;
}

.present5 .video {
    position: fixed;
    
    height: 40vh;
    width: auto;

    top: 30vh;
    left: 60vw;
}

.present7 .video {
    position: fixed;
    
    height: 35vh;
    width: auto;

    top: 17vh;
    left: 60vw;
}

.surprise .video {
    padding: 15px 40px;

    height: 80vh;
    width: auto;

    bottom: 60px;
    right: 70px;
}




.surprise .contents {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 10vh;
}

.surprise .text {
    position: absolute;
    top: 40%;
    left: 50%;
    
    font-style: 'Apple Garamond';
    font-size: 3vw;
    color: white;
    text-align: right;

    text-shadow:  
        -1px -1px 0 #2d2587,  
         1px -1px 0 #2d2587,  
        -1px  1px 0 #2d2587,  
         1px  1px 0 #2d2587;

    z-index: 10;
}